@media (max-width: 1024px) {
  .nav-img {
    display: none;
  }
  .navbar {
    padding: 10px;
    padding-bottom: 30px;
    margin-right: 1rem;
  }
  #info {
    padding: 20px 20px;
  }
}
